* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.slider {
    width: 100vw;
    height: 100vh;
    background-color: #101010;
    color: #a89a54;
    position: relative;
    overflow: hidden;
}

.slider .item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-wrapper {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: rotate(-20deg);
}

.slider .item .img {
    position: absolute;
    width: 400px;
    height: 600px;
}

.slider .item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.slider .item .content {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
}

.slider .item .content .wrap {
    font-weight: 300;
    letter-spacing: -10px;
    text-align: center;
    max-width: 900px;
}

.slider .item .content .wrap .letter {
    display: inline-block;
}

.slider .nav .next,
.slider .nav .prev {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: calc(50% - 1rem);
    stroke: #a89a54;
    cursor: pointer;
    z-index: 10;
}

.slider .nav .next {
    right: 4rem;
    transform: scale(2) rotate(180deg);
}

.slider .nav .prev {
    transform: scale(2);
    left: 4rem;
}

.slider .item:not(.is-active) {
    opacity: 0;
    pointer-events: none;
}


















